* {
  padding: 0; /* Elimina los márgenes internos de todos los elementos */
  margin: 0; /* Elimina los márgenes externos de todos los elementos */
  box-sizing: border-box; /* Incluye los bordes y los rellenos en el tamaño total de los elementos */
}

body {
  font-family: "Montserrat", sans-serif; /* Establece la fuente para el texto */
  font-size: 16px; /* Tamaño de fuente base */
  color: #65605f; /* Color del texto */
}

header {
  display: flex; /* Organiza los elementos en línea */
  justify-content: space-between; /*distribuye los elementos con espacio entre ellos*/
  align-items: center; /*centra los elementos*/
  padding: 10px 20px; /*relleno de 10px arriba y abajo, 20px a los lados*/
  border-bottom: 1px solid; /*Linea debajo del header*/
  border-image: linear-gradient(to right, #fc4c69, #ff8c94) 1; /*degradado para el borde*/
}

.logo {
  max-height: 60px; /* Limita la altura del logo */
}

nav ul {
  list-style: none; /*elimina los puntos de la lista*/
  display: flex; /*organiza los elementos en linea*/
  gap: 20px; /*espacio entre cada elemento de la lista*/
}

nav > ul > li {
  position: relative; /*Hace que el submenu se posicione relativo a los elementos*/
}

nav > ul > li a {
  text-decoration: none; /*elimina el subrayado de los enlaces*/
  color: #65605f; /*color de los enlaces*/
  font-weight: 600; /*hacer un semi-negrita de los enlaces*/
  padding: 10px; /*relleno alrededor de los enlaces*/
}

nav > ul > li a:hover {
  color: #fc4c69; /*color al pasar el ratón por encima*/
}

nav li ul {
  list-style-type: none; /*elimina los puntos de la lista*/
  background-color: white; /*fondo blanco para los submenus*/
  display: none; /*oculta el submenu por defecto*/
  position: absolute; /*posisiona el submenu debajo del item padre(debajo de zapatillas)*/
  top: 100%; /*lo coloca justo debajo del elemento padre*/
  padding: 5px 0; /*relleno dentro del submenu*/
}

nav li ul li {
  padding: 8px; /*espacio dentro de cada item del submenu*/
}

nav li:hover > ul {
  display: block; /*muestra el submenu al pasar el raton sobre el item padre*/
}

.brand-logos {
  width: 100%; /* El ancho de esta sección ocupa toda la vista */
  display: flex; /* Usa un diseño flexible */
  justify-content: space-around; /* Distribuye los elementos con espacio entre ellos */
  align-items: center; /* Centra los elementos verticalmente */
  padding: 40px 0; /* Añade relleno vertical */
}

.brand-logos img {
  height: 40px; /* Establece la altura máxima de las imágenes */
  max-width: 100px; /* Limita el ancho máximo de las imágenes */
}

main {
  width: 100%; /* Ancho completo de la pantalla */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  display: flex; /* Usa un diseño flexible */
  flex-direction: column; /* Organiza los elementos en una columna */
  justify-content: space-between; /* Espacio entre las secciones */
  padding: 0; /* Elimina el relleno */
  box-sizing: border-box; /* Incluye bordes y rellenos en el tamaño total */
}

/* Sección principal con texto e imagen */
.main-info {
  display: flex; /* Usa un diseño flexible */
  justify-content: flex-start; /* Alinea los elementos al principio */
  align-items: center; /* Centra verticalmente */
  width: 100%; /* Ancho completo */
  padding: 20px; /* Relleno alrededor de la sección */
  box-sizing: border-box; /* Incluye bordes y rellenos */
  max-width: 100%; /* Máximo de ancho 100% */
}

.text-block {
  flex: 1; /* Toma el 1/3 del espacio disponible */
  text-align: left; /* Alinea el texto a la izquierda */
  margin-right: 20px; /* Espacio a la derecha */
  padding: 15px; /* Relleno alrededor del bloque */
  margin-left: 50px; /*moverlo del borde hacia dentro*/
}

.text-block h2 {
  font-size: 2.5em; /* Tamaño de fuente grande */
  color: #65605f; /* Color del texto */
  line-height: 1.4; /* Interlineado */
  margin-left: 20px; /* Margen izquierdo */
  margin-right: 20px; /* Margen derecho */
}

.text-block a {
  margin-top: 10px; /* Margen superior */
  color: #fc4c69; /* Color del enlace */
  font-weight: bold; /* Fuente en negrita */
  text-decoration: none; /* Elimina el subrayado */
  margin-left: 20px; /* Margen izquierdo */
  margin-right: 20px; /* Margen derecho */
}

.text-block a:hover {
  color: #b3374c; /* Color al pasar el ratón */
  /* transform: scale(1.05); /* Efecto de escalado */
  /*transition: transform 0.3s ease; Transición suave del efecto */
}

/* Bloque de imagen */
.main-image {
  flex: 1.5; /* Toma el 1.5 de espacio */
  display: flex; /* Usa un diseño flexible */
  justify-content: right; /* Alinea a la izquierda */
  align-items: center; /* Centra verticalmente */
  width: 100%; /* Ancho completo */
}

.main-image img {
  width: 100%; /* Ancho completo de la imagen */
  max-width: 75%; /* Limita el ancho máximo de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Ajusta sin cortar la imagen */
  margin-right: 80px;
}

/* Sección de promociones */
.promotions {
  display: flex; /* Usa un diseño flexible */
  justify-content: space-between; /* Espacio entre los elementos */
  width: 100%; /* Ancho completo */
  box-sizing: border-box; /* Incluye bordes y rellenos */
}

.promo-box,
.shoe-image,
.discount-text {
  flex: 1; /* Cada bloque toma el mismo tamaño */
  display: flex; /* Usa un diseño flexible */
  justify-content: center; /* Centra los elementos */
  align-items: center; /* Centra verticalmente */
  margin-right: 10px; /* Espacio a la derecha */
  min-width: 200px; /* Establece un ancho mínimo */
}

/* Ajuste de las imágenes */
.promo-box img,
.shoe-image img {
  width: 100%; /* Imagen al 100% de su contenedor */
  height: auto; /* Mantiene la proporción */
  max-width: 100%; /* Limita el ancho máximo */
  object-fit: contain; /* Mantiene las proporciones sin distorsionar */
  max-height: 200px; /* Limita la altura máxima */
}

/* Estilo del texto de descuento */
.discount-text h3 {
  font-size: 3vw; /* Tamaño relativo que se ajusta a la pantalla */
  color: #fc4c69; /* Color del texto */
  text-align: center; /* Alinea el texto al centro */
  margin-top: 10px; /* Margen superior */
  line-height: 1.4; /* Interlineado */
  padding: 10px; /* Relleno alrededor */
  word-wrap: break-word; /* Permite que el texto se ajuste en varias líneas */
  max-height: 250px; /* Limita la altura máxima */
  display: flex; /* Usa un diseño flexible */
  justify-content: center; /* Centra los elementos */
  align-items: center; /* Centra verticalmente */
  text-align: center; /* Alinea el texto */
  min-height: 120px; /* Establece una altura mínima */
}

/* Footer */

.footer {
  background: linear-gradient(
    to top,
    rgb(255, 151, 151),
    #ffffff
  ); /* Fondo con un degradado de color hacia blanco */
  color: #333333; /* Color de texto */
  padding: 20px; /* Relleno de 20px alrededor del pie de página */
  text-align: center; /* Centra el contenido dentro del pie de página */
}

.footer-content {
  display: flex; /* Usa un diseño flexible para los elementos internos */
  flex-direction: column; /* Organiza los elementos en una columna */
  align-items: center; /* Centra los elementos horizontalmente */
  gap: 10px; /* Añade un espacio de 10px entre los elementos */
}

/* Estilo para el logo en el pie de página */
.footer-logo {
  width: 200px; /* Ancho del logo a 200px */
}

/* Estilos para los enlaces de navegación en el pie de página */
.footer-nav a {
  color: #65605f; /* Color de los enlaces de navegación */
  margin: 0 10px; /* Añade margen a los lados de los enlaces */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
}

/* Estilos para los enlaces en el pie de página */
.social-links a {
  color: #65605f; /* Color de los enlaces */
  margin: 0 5px; /* Añade margen a los lados de los enlaces */
}

/* Estilo para el párrafo dentro del pie de página */
.footer p {
  font-size: 0.9em; /* Tamaño de fuente pequeño (90% del tamaño base) */
  color: #5d5857; /* Color de texto oscuro */
}

/******************************************************************/
/* PÁGINA NOVEDADES */

.main-novedades {
  width: 100%;
  /* Ancho completo de la pantalla */
  height: 100vh;
  /* Ocupa toda la altura de la ventana */
  display: flex;
  /* Usa un diseño flexible */
  flex-direction: column;
  /* Organiza los elementos en una columna */
  justify-content: space-between;
  /* Espacio entre las secciones */
  padding: 0;
  /* Elimina el relleno */
  box-sizing: border-box;
  /* Incluye bordes y rellenos en el tamaño total */
}

.imagen-info {
  position: relative;
  /* Necesario para que el texto absoluto se posicione relativo a este contenedor */
  text-align: center;
  /* Centra el texto si hay varios elementos internos */
  padding-top: 2%;
  display: flex;
  /* Usa un diseño flexible */
  justify-content: center;
  /* Centra la imagen horizontalmente */
  align-items: center;
  /* Centra la imagen verticalmente */
  gap: 20px;
  /* Espacio entre los elementos */
  width: 100%;
}

.imagen-info img {
  width: 100%;
  /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: auto;
  /* Mantiene la proporción de la imagen */
}

.text-inscripcion {
  position: absolute;
  /* Posición relativa al contenedor padre (.imagen-info) */
  top: 10%;
  /* Ubica el texto en la parte superior (10% desde el borde superior) */
  left: 50%;
  /* Centra el texto horizontalmente */
  transform: translateX(-50%);
  /* Ajusta el centro horizontal para alinear perfectamente */
  background-color: rgba(255, 255, 255, 0.8);
  /* Fondo blanco semi-transparente */
  padding: 10px 20px;
  /* Espacio interno */
  border-radius: 8px;
  /* Bordes redondeados */
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  /* Sombra para destacar el texto */
  font-size: 1.2em;
  /* Tamaño de fuente */
}

.nike-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.nike-section .text-name {
  flex: 1;
  text-align: center;
  padding-left: 6%;
  font-size: 1.2em;
}

.nike-section .nike-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.nike-section .nike-image img {
  width: 100%; /* Ancho completo de la imagen */
  max-width: 75%; /* Limita el ancho máximo de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Ajusta sin cortar la imagen */
  margin-right: 80px;
  padding-right: 6%;
}

/******************************************************************/
/* PÁGINA GALERIAS */

.swiper-container {
  /*Define el tamaño y estilo general del contenedor principal*/
  width: 90%;
  max-width: 90%;
  padding: 40px;
  margin: 20px auto;
  overflow: hidden;
}

.swiper-slide {
  /*Estilo de las imagenes. Usamos flex para centrar el contenido*/
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.swiper-slide img {
  /*Las img de las diapositivas se ajustan al tamaño del contenedor, manteniendo proporciones*/
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  /*Personaliza los botones de navegación*/
  color: #fc4c69;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  /**/
  font-size: 20px;
  color: #fc4c69;
}

.swiper-pagination-bullet {
  background: #ddd; /* Color predeterminado de los bullets */
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fc4c69; /* Color del bullet activo */
}

.msj-and-video {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}

.video {
  flex: 1; /*Que el video ocupe una proporcion del espacio*/
  display: flex; /*se necesita para alinear el iframe*/
  justify-content: flex-start; /*Alinea el iframe a la izquierda*/
  align-items: center;
  margin-left: 50px;
}

.video iframe {
  width: 100%; /*Que el video ocupe todo el ancho disponible*/
}

.mensaje {
  flex: 1; /*Que el mensaje ocupe una proporción del espacio*/
  display: flex; /*se neceita para alinear el mensaje*/
  justify-content: center; /*Alinea el mensaje a la derecha*/
  align-items: center;
  text-align: center;
  margin-right: 50px;
  margin-left: 20px;
}

/******************************************************************/
/* PÁGINAS ZAPATILLAS */

/******************************************************************/
/* PÁGINAS SUGERENCIAS */
.container {
  display: flex; /* Flexbox para organizar en filas */
  flex-direction: row; /* Elementos en una fila (horizontal) */
  justify-content: space-between; /* Espacio entre el gráfico y el mensaje */
  align-items: center; /* Alinea verticalmente al centro */
  padding: 20px; /* Añade algo de espacio interno */
}

.grafico {
  flex: 1; /* Ocupa el espacio disponible a la izquierda */
  max-width: 60%; /* Limita el ancho máximo del gráfico */
}

.mensaje {
  flex: 1; /* Ocupa el espacio disponible a la derecha */
  max-width: 40%; /* Limita el ancho máximo del mensaje */
  text-align: center; /* Centra el texto dentro del div */
}

.mensaje h1 {
  font-size: 2em; /* Ajusta el tamaño del texto */
  color: #333; /* Color del texto */
  margin: 0; /* Quita márgenes alrededor del título */
}

/******************************************************************/
/* PÁGINA CONTACTO */

.contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  gap: 20px;
}

.form {
  flex: 1;
  width: 800px;
  margin: 20px auto;
  background-color: #f7f7f7;
  padding: 20px; /* Espacio alrededor del contenido del formulario */
  border-radius: 10px; /* Bordes redondeados opcionales */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para un efecto más limpio */
}

label {
  display: block; /* Etiquetas en bloque para alineación adecuada */
  margin-bottom: 5px; /* Espaciado entre la etiqueta y el campo */
  font-weight: bold;
}

.text,
textarea,
select {
  width: 100%;
  padding: 10px; /* Espaciado interno */
  margin-bottom: 5px; /* Espaciado entre campos */
  border: 1px solid #ccc;
  border-radius: 5px; /* Bordes redondeados */
}

.checkbox {
  display: flex;
  flex-direction: row; /* checkboxes en una sola linea*/
  gap: 10px; /* Espacio entre checkboxes */
}

.checkbox label {
  display: flex;
  align-items: center; /* Alinea el checkbox con el texto */
  gap: 10px; /* Espacio entre el checkbox y el texto */
}

.botones {
  text-align: center;
}

.bEnviar {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px; /* Espaciado entre botones */
}

.bEnviar:hover {
  background-color: #45a049;
}

.bBorrar {
  background-color: #dd3838;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px; /* Espaciado entre botones */
}

.bBorrar:hover {
  background-color: #cc1d1d;
}

.maps {
  flex: 1;
  max-width: 600px;
}